<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TreeWeb.Presentation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TreeWeb.Presentation.styles.css" asp-append-version="true" />

    @* Tailwind CSS *@
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-gray-100">
        <nav class="flex items-center justify-between flex-wrap bg-white p-6">
            <div class="flex items-center flex-shrink-0 text-black mr-6">
                <a class="font-semibold text-xl tracking-tight" asp-area="" asp-controller="Admin" asp-action="Index">Tree Webaplication Admin</a>
            </div>
            <div class="block lg:hidden">
                <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-gray-900">
                    <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
                </button>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto hidden" id="nav-content">
                <div class="text-sm lg:flex-grow">
                    <ul class="flex justify-end items-center">
                        <li class="mr-6">
                            <a class="font-semibold text-xl tracking-tight text-blue-500 hover:text-blue-700" asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
                        </li>
                        <li class="mr-6">
                            <a class="font-semibold text-xl tracking-tight text-green-500 hover:text-green-700" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
                        </li>
                        <li class="mr-6">
                            <a class="font-semibold text-xl tracking-tight text-purple-500 hover:text-purple-700" asp-area="Admin" asp-controller="Supplier" asp-action="Index">Supplier</a>
                        </li>
                        <li class="mr-6">
                            <a class="font-semibold text-xl tracking-tight text-red-500 hover:text-red-700" asp-area="" asp-controller="Home" asp-action="Index">Shop</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
