@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-3xl font-bold mb-4">About Us</h1>


<div class="bg-gray-100 p-6 rounded-md mb-8">
    <h2 class="text-lg font-semibold mb-2">Your Services (And Benefits)</h2>
    <p class="mb-2">Even if your services are the focus of your homepage and dedicated product pages, summarizing them on your Privacy Policy page is crucial for alignment with brand values.</p>
    <p class="mb-2">Highlight the benefits of your solutions, showcase what you do, and establish why you are unique.</p>
</div>

<div class="bg-gray-100 p-6 rounded-md mb-8">
    <h2 class="text-lg font-semibold mb-2">Your Social Proof</h2>
    <p class="mb-2">Reviews, client logos, case studies, and testimonials bring consistency to your Privacy Policy page. Social proof demonstrates the authenticity of your claims and the impact you can bring to future clients.</p>
    <p class="mb-2">With these four components in mind, you will have a framework from which to build an engaging and unique Privacy Policy page that incorporates your business’s most important asset: your clients.</p>
</div>

<p class="mb-4">If you are looking for inspiration, the 25 examples below feature Privacy Policy pages that excel at engaging their audience and providing clear guidelines:</p>
