@using TreeWeb.Application.ViewModels
@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="max-w-md w-full bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-center text-2xl text-blue-600 font-bold mb-6">Login</h2>
        <form asp-action="Login" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>
            <div class="mb-4">
                <label asp-for="Username" class="block text-gray-700 font-semibold mb-2"></label>
                <input asp-for="Username" class="form-input w-full rounded-md border border-black focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
                <span asp-validation-for="Username" class="text-red-500 text-sm"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Password" class="block text-gray-700 font-semibold mb-2"></label>
                <input asp-for="Password" type="password" class="form-input w-full rounded-md border border-black focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" />
                <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
            </div>
            <div class="mb-4">
                <label class="inline-flex items-center">
                    <input asp-for="RememberMe" class="form-checkbox text-blue-600" />
                    <span class="ml-2 text-gray-700">Remember Me</span>
                </label>
            </div>
            <div class="flex justify-between items-center">
                <a asp-action="Register" class="text-sm text-blue-600 hover:underline" asp-route-returnurl="@ViewData["ReturnUrl"]">Don't have an account?</a>
                <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-700">Login</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
